@using Tetst.ViewModels
@using Tetst.Models
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<form class="form-inline">
    <label>Выберите компанию:</label>
    <select name="companyId" class="form-control">
        @foreach (CompanyModel comp in Model.Companies)
        {
            <option value="@comp.Id">@comp.Name</option>
        }
    </select>
    <input type="submit" />
</form>
<br />
<table class="table">
    @foreach (Phone p in Model.Phones)
    {
        <tr><td>@p.Name</td><td>@p.Manufacturer?.Name</td><td>@p.Price</td></tr>
    }
</table>