@using Microsoft.AspNetCore.Identity
@model CourseProject.Mvc.ViewModels.ChangeRoleViewModel
@{
    ViewBag.Title = "Изменение роли";
    Layout = "~/Views/Shared/_Master.cshtml";
}



<form asp-action="Edit" method="post" class="main__edit-role">
    <h2>Изменение ролей для пользователя @Model.UserEmail</h2>
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div >
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>
    <button type="submit" class="mine__button">Сохранить</button>
</form>