@model ProfileUserResponse

<form class="main__profile" asp-action="Profile" asp-controller="Account" asp-route-id="@Model.Id">

    <div class="profile__box">
        <div class="text__profile">Логин:</div>
        <div class="text__profile">@Html.DisplayFor(model => model.UserName)</div>
    </div>
    <div class="profile__border"></div>

    <div class="profile__box">
        <div class="text__profile">Email:</div>
        <div class="text__profile">@Html.DisplayFor(model => model.Email)</div>
    </div>
    <div class="profile__border"></div>

    <div class="profile__box">
        <div class="text__profile">Избранное:</div>
        <div class="text__profile">@Html.DisplayFor(model => model.Favourite)</div>
    </div>
    <div class="profile__border"></div>

    <div class="profile__box">
        <div class="text__profile">Смотреть позже:</div>
        <div class="text__profile">@Html.DisplayFor(model => model.WatchLater)</div>
    </div>
    <div class="profile__border"></div>
</form>